  /* SAP Fiori Icons */
@font-face {
  font-family: 'SAP Fiori Icons New Test';
  src:
    	url('https://kavyakat.github.io/SAP-icons.woff2') format('woff2'),
	url('https://kavyakat.github.io/SAP-icons.woff') format('woff'),
	url('https://kavyakat.github.io/SAP-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
